
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Welcome to Blogger Boom </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Add Blog - Read - Comment</p>
    </div>
</header>

<!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <% if notice.present? %>
        <div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p id="notice"><%= notice %></p>
        </div>
        <% end %>
          <!-- Portfolio Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Articles</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row justify-content-center">
            <% @articles.each do |article| %>
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">
                          <%= link_to 'Show', article %>
                          <% if !current_user.is_commentor? && current_user.can_edit_destroy(article.user_id) %>
                          |<%= link_to 'Edit', edit_article_path(article) %>|<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% end %></div>
                      </div>
                      <h1><%= json_escape article.title.first(40).titleize %> </h1>
                      <p><%= simple_format(json_escape article.body.first(100)) %></p>
                  </div>
              </div>
              <% end %>
            <% if !current_user.is_commentor? %>
              <div class="col-md-6 col-lg-4 mb-5 form-inline">
                <h4><%= link_to 'New Article', new_article_path, class: "btn-info" %></h4>
              </div>
            <% end %>  

          </div>
      </div>
  </section>


